---
---

@import "{{ site.theme }}";

body {color: #00A3E0}

header {
    border-bottom: 1px dashed #00A3E0;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: rgb(0, 163, 224);
}

header h1 {
color: #00A3E0
}

h1 {
color: #00A3E0
}